<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://static.vecteezy.com/system/resources/previews/024/521/350/original/skateboard-transparent-background-png.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
    </div>
  </nav>
  <section>Rankings Pane</section>
  <section>Trick Checkbox Pane</section>
  <section>Meter Pane</section>
</body>

</html>